body {
<<<<<<< HEAD
    background: radial-gradient(aliceblue 13%, linen 80%);
||||||| merged common ancestors
    font: 24px Helvetica;
    background-image: url(images/img.jpeg);
    background-size: contain;
    height: 970px;
=======
    font: 24px Helvetica;
    background: radial-gradient(aliceblue 13%, linen 80%);
    background-size: cover;
    height: 970px;
>>>>>>> master
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

footer {
    text-align: center;
}

||||||| merged common ancestors
=======

footer{
    text-align: center;
    margin: 4px;
    padding: 5px;
    min-height: 40px;
}

>>>>>>> master
.main {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
||||||| merged common ancestors
    min-height: 800px;
    margin: 0px;
    padding: 0px;
=======
    min-height: 800px;
    margin: 0;
    padding: 0;
>>>>>>> master
    display: flex;
    flex-flow: row;
    height: 100vh;
}

.article {
    flex: 9;
    display: flex;
    flex-flow: column;
    max-width: 1400px;
}

.sidebar {
    flex: 2;
    min-width: 125px;
    max-width: 250px;
    padding: 2px;
}

.fork-image {
    max-height: 145px;
    max-width: 145px;
}

.content-container {
    display: flex;
    flex-flow: row;
    min-height: 490px;
}

<<<<<<< HEAD
.badge-side {
    min-width: 350px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
}

.badge-side > .row {
    min-height: 220px;
    min-width: 260px;
}

.social-coding-image {
    min-height: 140px;
    max-width: 195px;
}

||||||| merged common ancestors

=======
>>>>>>> master
.content {
    width: 267px;
    height: 155px;
    padding: 0;
    display: flex;
    flex-flow: row;
    margin: 210px 10px 10px 0;
    border:none;
}

.styleOfIframe {
    width: 260px;
<<<<<<< HEAD
    height: 150px;
    border:none;
||||||| merged common ancestors
    height: 146px;
    border: 1px solid lightgrey;
    display: flex;
    flex-flow: row;
    margin: 210px 10px 10px 0px;
    border-radius: 4px;
    background-image: url(images/img.jpeg);
=======
    height: 146px;
    border: 1px solid lightgrey;
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    background: radial-gradient(aliceblue 88%, ghostwhite 12%);
>>>>>>> master
}

.image-side {
    min-width: 350px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.octopus-image {
    max-height: 376px;
    min-height: 376px;
    max-width: 332px;
    min-width: 332px;
}

<<<<<<< HEAD
.form-container {
||||||| merged common ancestors
.row_of_col1 {
    display:block;
    flex-grow:1;
    width:55px;
    max-height: 46px;
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 32px;
    padding: 1px;
}

.row_of_col2 {
    display:block;
    flex-grow:1;
    width:200px;
    max-height: 35px;
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 32px;
}

.formContainerDiv {
    width: 68%;
    max-height: 90px;
    min-height: 50px;
=======
.row_of_col1 {
    display:block;
    flex-grow:1;
    width:55px;
    max-height: 46px;
    background-color: lightcyan;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 56px;
    padding: 1px;
}

.row_of_col2 {
    display:block;
    flex-grow:1;
    width:200px;
    max-height: 35px;
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 32px;
}

.formContainerDiv {
    width: 68%;
    max-height: 90px;
    min-height: 50px;
>>>>>>> master
    display: flex;
    justify-content: center;
    border-radius: 22px;
    min-height: 380px;
}

.inputStyle {
    text-align: center;
    width: 70%;
    max-height: 46px;
    max-width: 600px;
    border:1px solid #B5B5B5;
    border-radius: 10px;
    font-size: 22px;
    background-color: #E8E8E8;
    text-decoration: none;
    outline: none;
}

.inputStyle:focus {
    border: 2px solid #B5B5B5;
}

<<<<<<< HEAD
.row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-basis: 50%;
}

.column-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
||||||| merged common ancestors
img {
    max-height: 50px;
    max-width: 50px;
    font-size: 16px;
}

.leftOnes {
    float: left;
    padding-left: 10px;
=======
.leftOnes {
    float: left;
    padding-left: 10px;
>>>>>>> master
}

.column-5 {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    flex-basis: 50%;
}

<<<<<<< HEAD
.styleOfIframe {
    border-radius: 10px;
    background: radial-gradient(aliceblue 88%, ghostwhite 12%);
    width: 255px;
    height: 141px;
    border: 1px solid lightgrey;

    padding: 0;
    display: flex;
    flex-direction: row;
||||||| merged common ancestors
.topOnes {
    padding-left: 5px;
    vertical-align: text-bottom;
    font-size: 13px;
=======
.topOnes {
    padding-left: 4px;
    vertical-align: text-bottom;
    font-size: 13px;
>>>>>>> master
}

<<<<<<< HEAD
.svg-wrapper {
    width: 100%;
    max-height: 47px;
    max-width: 45px;
||||||| merged common ancestors
span {
    color: #323231;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
=======
.centered {
    margin: 0 auto;
    padding-top: 20%;
    font-size: 20px;
}



span {
    color: #323231;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
>>>>>>> master
}

<<<<<<< HEAD
.bold-item {
    font-weight: 900;
    font-size: 1.1rem;
||||||| merged common ancestors
b {
=======
img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 7px;
}

b {
>>>>>>> master
    color: black;
<<<<<<< HEAD
||||||| merged common ancestors
    font-size: 15px;
    padding-right: 2px;
=======
    font-size: 14px;
    padding-right: 2px;
>>>>>>> master
}

<<<<<<< HEAD
.text-item {
    font-family: "Times New Roman", sans-serif;
    font-size: 0.9rem;
    color: slategrey;
||||||| merged common ancestors
a {
    font-size: 15px;
    text-decoration: none;
    color:#008080;
=======
a {
    font-size: 15px;
    text-decoration: none;
    color:#4c68d7;
>>>>>>> master
}

<<<<<<< HEAD
@media only screen and (max-device-width: 768px) {

    .main {
        min-width: 360px;
        min-height: 600px;
        max-height: 600px;
    }

    .sidebar {
        min-width: 0;
    }

    .fork-image{
        max-height: 75px;
        max-width: 75px;
    }

    .article {
        min-width: 360px;
    }

    .content-container {
        padding-top: 30px;
        min-height: 320px;
        max-height: 320px;
    }

    .badge-side {
        min-width: 210px;
        max-width: 210px;
        padding: 0;
    }

    .badge-side > .row {
        min-width: 180px;
        min-height: 160px;
        padding-top: 6px;
        justify-content: flex-end;
    }

    .styleOfIframe {
        max-width: 205px;
        min-width: 205px;
        max-height: 150px;
    }

    .content {
        max-width: 210px;
        max-height: 160px;
    }

    .social-coding-image {
        min-height: 90px;
        max-width: 125px;
        padding-left: 150px;
    }

    .image-side {
        min-width: 150px;
        max-width: 150px;
        min-height: 320px;
        max-height: 320px;
        align-items: flex-end;
    }

    .octopus-image {
        max-width: 150px;
        max-height: 170px;
        min-width: 150px;
        min-height: 170px;
    }


    .column-1 {
        max-width: 42px;
        min-width: 42px;
    }

    .badge-image{
        max-width: 42px;
        min-width: 42px;
    }

    .column-1 > .row {
        max-width: 35px;
        min-width: 35px;
    }

    .svg-wrapper {
        max-width: 40px;
        min-width: 40px;
    }
    .badge-image {
        max-width: 35px;
        min-width: 35px;
    }

    .bold-item {
        font-size: 0.9rem;
    }

    .text-item {
        font-size: 0.7rem;
    }

    .form-container {
        min-height: 250px;
        max-height: 250px;
        align-items: center;
    }

    .inputStyle {
        width: 85%;
        height: 60px;
    }
}

.badge-image {
    max-height: 47px;
    max-width: 45px;
    border-radius: 7px;
}

.link-tag {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    padding: 2px;
    color:#4c68d7;
}

.last-activity {
    font-family: "Times New Roman", sans-serif;
    font-size: 0.9rem;
    color: black;
||||||| merged common ancestors
a:hover {
    font-size: 15px;
    text-decoration: underline;
=======
a:hover {
    text-decoration: underline;
}

svg {
    max-height: 53px;
    max-width: 49px;
}

p {
    font-size: 8px;
>>>>>>> master
}